
.img{
    width: 100%;
}
.aboutUsDiv{
    display: flex;
  flex-wrap: wrap;
  background-color: #f1f1f1;
}








.cards{
    text-align: center;
  width: 350px;
    height: 500px;

    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    }






  






    .img-wrapper img
    {
        transition: 0.7s;
      /* border-radius: 10%; */
      border-width: 3px;
      border-color:  #c5b0b0 ;
      border-style: inherit;
    }
    .img-wrapper:hover img
     {
         	filter: grayscale(0%);
        filter : grayscale (100%);
        filter: grayscale(var(--value, 100%));
        transform: scale(1.05);
    }







    .MDBContainer
    {
        font-family:initial;
        font-style: italic;

        text-transform: uppercase;

        transform: perspective(400px) rotateY(90deg);
        transform-origin: right;
        transition: 1s;
    }
    :hover .MDBContainer
    {
        transform: perspective(400px) rotateY(0deg);
        transition: 1s;
        transform-origin: right;

    }


     .MDBIcon:hover {
color: rgb(20, 220, 30);
        transform: scale(2);

    }

    





    